<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title}">Portfolio</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet" th:href="@{/css/public/main.css}">
    <link rel="stylesheet" th:href="@{/css/public/contact.css}">
    <link rel="stylesheet" th:href="@{/css/public/article.css}">
    <link rel="stylesheet" th:href="@{/css/public/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/public/project.css}">
    <link rel="stylesheet" th:href="@{/css/public/skills.css}">
</head>