<nav th:fragment="navbar"
     class="main-navbar"
     xmlns:th="http://www.w3.org/1999/xhtml">


    <div class="navbar-container">

        




        <div class="navbar-menu"
             id="navbarNav">

            <ul class="navbar-links">


                <li>
                    <a th:href="@{/}">
                        Accueil
                    </a>
                </li>



                <li>
                    <a th:href="@{/projects}">
                        Projets
                    </a>
                </li>



                <li>
                    <a th:href="@{/skills}">
                        Compétences
                    </a>
                </li>



                <li>
                    <a th:href="@{/journey}">
                        Parcours
                    </a>
                </li>



                <li>
                    <a th:href="@{/blog}">
                        DevBlog
                    </a>
                </li>



                <li>
                    <a th:href="@{/contact}">
                        Contact
                    </a>
                </li>


            </ul>


        </div>


    </div>


</nav>