<!DOCTYPE html>
<html lang="en">

<th:block th:replace="~{fragments/head :: head('Journey')}"></th:block>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<main class="container mt-5">
    <h1>Mon parcours</h1>

    <ul class="list-group mt-4">

        <li class="list-group-item">
            2024 - Obtention du certificat CS50x
        </li>

        <li class="list-group-item">
            2025 - Formation Développeur Web OpenClassrooms
        </li>

        <li class="list-group-item">
            2026 - Spécialisation Java
        </li>

        <li class="list-group-item">
            Objectif : Cloud, DevOps et DevSecOps
        </li>

    </ul>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>